.forecast-summaries {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px 20px;
  flex-wrap: wrap;
}

@media all and (max-width: 500px) {
  .forecast-summaries {
    flex-direction: column;
  }
}
